* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin : 0;
  padding: 0;
}

/* header */
header {
  display        : flex;
  justify-content: center;
  height         : 120px;
}

.container {
  display        : flex;
  justify-content: space-between;
  width          : 990px;
}

.logo {
  display    : flex;
  align-items: center;
}

.menuMobile {
  display      : none;
  width        : 40px;
  height       : 40px;
  margin-top   : 40px;
  margin-bottom: 40px;
  margin-right : 20px;
}

.mm_line {
  height          : 3px;
  background-color: #39aae1;
}

.menu {
  display    : flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
}

nav ul {
  display: flex;
}

nav a {
  display        : block;
  padding        : 15px;
  text-decoration: none;
  text-transform : uppercase;
  color          : #727272;
}

nav .active a,
nav a:hover {
  background-color: #39aae1;
  color           : white;
}

/* banner */
.banner {
  display            : flex;
  justify-content    : center;
  background-image   : url('../assets/banner.jpg');
  background-position: center;
  background-size    : cover;
  height             : 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  flex           : 1;
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.banner_headline h1 {
  margin     : 0px;
  padding    : 0px;
  color      : white;
  font-size  : 70px;
  text-shadow: 0px 1px 0px #555555;
  max-width  : 350px;
}

.banner_headline h2 {
  margin     : 0px;
  padding    : 0px;
  color      : white;
  font-size  : 21px;
  text-shadow: 0px 1px 0px #555555;
  max-width  : 350px;
  margin-top : 30px;
}

.banner_options {
  display: flex;
}

.box1,
.box2,
.box3 {
  flex   : 1;
  color  : white;
  padding: 20px;
}

.box1 {
  background-color: #39aae1;
}

.box2 {
  background-color: #0079c7;
}

.box3 {
  background-color: #2b4c99;
}

.banner_title {
  font-size: 22px;
}

.banner_desc {
  font-size    : 14px;
  margin-top   : 20px;
  margin-bottom: 20px;
}

.banner_options a {
  display  : inline-block;
  border   : 1px solid white;
  padding  : 5px;
  color    : white;
  font-size: 14px;
}

.schedule {
  display        : flex;
  justify-content: space-between;
  border-bottom  : 1px solid #0370b8;
  padding        : 5px;
  margin-bottom  : 10px;
  font-size      : 12px;
}

/* feed */
.feed {
  display        : flex;
  justify-content: center;
}

.feed section {
  flex: 2;
}

.feed aside {
  flex: 1
}

.widget_title {
  margin-top   : 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color      : black;
  font-size  : 22px;
  font-weight: bold;
}

.widget_title_bar {
  width           : 50px;
  height          : 3px;
  background-color: #36a9e1;
  margin-top      : 10px;
}

.flex {
  display  : flex;
  flex-wrap: wrap;
}

article {
  flex        : 1;
  min-width   : 300px;
  margin-right: 20px;
}

article a {
  text-decoration: none;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: #2b4c99;
  color           : white;
  font-size       : 12px;
  padding         : 10px;
  margin-right    : 2px;
}

article .news_comments {
  background-color: #39aae1;
  color           : white;
  font-size       : 12px;
  padding         : 10px;
}

article .news_thumbnail {
  margin-top: 30px;
}

article .news_thumbnail img {
  width : 100%;
  height: auto;
}

article .news_title {
  margin-top   : 25px;
  margin-bottom: 25px;
  color        : black;
  font-size    : 20px;
}

article .news_resume {
  color        : #5c5c5c;
  line-height  : 20px;
  font-size    : 14px;
  margin-bottom: 30px;
}

/* aside */
.widget_category {
  background-color: #36a9e1;
  width           : 130px;
  height          : 130px;
  margin          : 5px 20px 20px 0px;
}

.widget_text {
  font-size: 14px;
}

.about {
  margin-top: 25px;
}

.info {
  margin-top : 5px;
  padding    : 13px 13px 5px 13px;
  border-top : 1px solid rgb(192, 192, 192);
  color      : rgb(150, 150, 150);
  align-items: center;
}

.info strong {
  color      : #000;
  font-weight: bold;
}

/* footer */
footer {
  background-color: #1e1e1e;
  display         : flex;
  justify-content : center;
  color           : white;
}

.footer_menu {
  display: flex;
}

.footer_menu a {
  color          : white;
  text-decoration: none;
}

.footer_area {
  display: flex;
}

.footer_area_item {
  flex : 1;
  color: white;
}

footer .widget_title_text {
  color: white;
}

.footer_copy {
  border-top : 2px solid #484848;
  height     : 40px;
  line-height: 40px;
  font-size  : 12px;
  margin-top : 30px;
}

.widget_footer_body_content {
  display       : flex;
  flex-direction: column;
  color         : #717171;
  font-size     : 15px;
  margin-right  : 20px;
}

.hosp {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.description {
  align-items  : flex-start;
  margin-bottom: 20px;
}

.contact {
  display       : flex;
  flex-direction: row;
  margin-bottom : 20px;
}

.addres {
  flex: 2;
}

.addres p {
  margin : 0px;
  padding: 1px;
}

.email_phone {
  flex      : 1;
  align-self: flex-end;
}

.email_phone p {
  margin : 0px;
  padding: 1px;
}

.email_phone p a {
  text-decoration: none;
  color          : white;
}

.white {
  color: seashell;
}

.latest_post {
  display       : flex;
  flex-direction: column;
  height        : 230px;
}

.post {
  flex: 1;
}

.post p {
  margin: 0px;
  color : #FFFFFF;
}

.post span {
  color    : #0079c7;
  font-size: 13px;
}

@media (max-width:995px) {
  .logo {
    margin-left: 5px;
  }

  .banner_headline {
    margin-left: 5px;
  }

  .feed {
    margin-left: 5px;
  }

  .footer_area_item .widget {
    margin-left: 5px;

  }
}

@media (max-width:600px) {
  header {
    height: auto;

  }

  header .container {
    flex-direction: row;
  }

  .menuMobile {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
  }

  .menu ul {
    flex-direction  : column;
    display         : none;
    position        : absolute;
    left            : 0;
    width           : 100%;
    background-color: white;
    padding         : 0;
    margin          : 0;
  }

  .banner_headline h1 {
    font-size: 50px;
  }

  .banner_headline h2 {
    font-size: 16px;
  }

  .banner_options {
    height        : auto;
    flex-direction: column;
  }

  .banner_desc {
    margin-top   : 10px;
    margin-bottom: 10px;
  }

  .box1,
  .box2,
  .box3 {
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }

  .footer_menu {
    height        : auto;
    flex-direction: column;
  }
}

@media (max-width:437px) {
  .post p {
    margin-top: 12px;
  }
}

@media (max-width:380px) {
  .footer_area {
    flex-direction: column-reverse;
  }

  .footer_menu {
    flex-direction: column-reverse;
  }

}